# 목차1 - 리스트와 튜플

In [46]:
list_a = [273, 32, 'A', True, [1, 2, 3]]
list_a[0]

273

In [47]:
list_a[1]

32

In [48]:
list_a[4]

[1, 2, 3]

In [5]:
#중첩된 리스트 추출하기
list_a[4][1]

2

In [6]:
# p.196
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_a + list_b

[1, 2, 3, 4, 5, 6]

In [7]:
list_a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [9]:
# list_a는 리스트 형태이므로, 숫자 4를 바로 더해줄 수 없음
list_a + 4

TypeError: can only concatenate list (not "int") to list

- 숫자는 scalar 자료형
- 문자는 sequence 자료형

In [10]:
# 리스트 형태에 맞게 [4] 로 더해주어야 연산 가능
list_a + [4]

[1, 2, 3, 4]

In [12]:
# 문자는 list('a') 형태로 연산 가능
# 숫자는 list('3') 형태로 연산 불가능
list_a + list('a')

[1, 2, 3, 'a']

In [13]:
list_a = [273, 32, 'A', True, [1, 2, 3]]

#list_a[인덱스 번호] = 새로운 값
list_a[2] = 410 # list_a[2] 인덱스 번호에 있었던 'A' 문자를 410로 변경
list_a

[273, 32, 410, True, [1, 2, 3]]

In [14]:
# 리스트의 길이 출력하기
len(list_a)

5

## append()와 insert()

In [17]:
#append() : 리스트의 끝에 항목을 더하는 메서드
#a[len(a):] = [x] 와 동등

list_a = [1, 2, 3]
list_a.append(4)
list_a.append("A")
list_a

[1, 2, 3, 4, 'A']

In [18]:
#insert() : 주어진 위치에 항목을 삽입하는 메서드
#첫 번째 인자는 삽입되는 요소가 갖게 될 인덱스
#a.insert(0, x) 는 리스트의 처음에 삽입하고, a.insert(len(a), x) 는 a.append(x) 와 동등

list_a.insert(1, 100) #list_a의 [1] 인덱스에 100을 삽입하기
list_a

[1, 100, 2, 3, 4, 'A']

In [20]:
list_a =[1, 2, 3]
list_a.append(5)
list_a.append('A')
list_a.insert(1, 50)
list_a

[1, 50, 2, 3, 5, 'A']

## extend()
- 리스트의 끝에 이터러블의 모든 항목을 덧붙여서 확장하는 메서드
- 이터러블 자료형만 사용 가능
- 이터러블(iterable) : 반복(iteration)할 수 있는 객체를 의미
- 이터러블 자료형 종류 : 리스트(list), 튜플(tuple), 문자열(string), 딕셔너리(dictionary), 세트(set)
- 스칼라(scalar) : 단일 값을 나타내는 자료형
- 스칼라 자료형 종류 : 정수형(int), 부동 소수점형(float), 문자열(string, 단일 문자), 불린형(boolean)

In [22]:
#extend() : 리스트의 끝에 이터러블의 모든 항목을 덧붙여서 확장
list_a = [1, 2, 3]
list_a.extend("a")
list_a

[1, 2, 3, 'a']

## 인덱스로 제거하기: del 키워드, pop() 키워드

In [23]:
list_a = ["a", "b", "c", "d"]
del list_a[0]
list_a

['b', 'c', 'd']

In [69]:
list_b = [1, 2, 4, 6, 7,3]
del list_b[0:3]
list_b

[6, 7, 3]

In [29]:
#에러1) pop([i]) 형태로, pop()은 인덱스 번호를 사용해서 사용해야 함.
#TypeError: 'str' object cannot be interpreted as an integer
#list_c = ["a", "b", "c", "d"]
#list_c.pop("a")
#list_c

#해결1)
#pop([i]) 형태로, pop()은 인덱스 번호를 넣어서 사용해야 함.
#pop(인덱스번호) 형태로 사용
list_c = ["a", "b", "c", "d"]
list_c.pop(1)
list_c

['a', 'c', 'd']

## 값으로 제거하기: remove()
- 인덱스 번호가 아닌 실제 값을 넣어서 사용한다.
- 리스트에서 값이 x 와 같은 첫 번째 항목을 삭제한다. 그런 항목이 없으면 ValueError를 일으킵니다.
- remove(실제값)

In [32]:
list_a = ["a", "b", "a", "c", "d"]
list_a.remove("a")
list_a

['b', 'a', 'c', 'd']

## 모두 제거하기

In [33]:
list_a = ["a", "b", "a", "c", "d"]
list_a.clear()
list_a

[]

## 리스트 정렬하기 : sort()
- 리스트의 항목들을 제자리에서 오름차순으로 정렬
- sort(*, key=None, reverse=False) 형식
- sort(reverse=True) : 내림차순으로 정렬

In [35]:
list_a = [52, 273, 103, 32]
list_a.sort()
list_a

[32, 52, 103, 273]

In [36]:
list_a = [52, 273, 103, 32]
list_a.sort(reverse=True) #revers=True를 사용하면 내림차순으로 출력
list_a

[273, 103, 52, 32]

## 리스트 내부에 있는지 확인하기 : in/not in 연산자
- 문자열과 비슷

In [37]:
"a" in "abc"

True

In [62]:
273 in [52, 273, 203, 32]

True

## 리스트 컴프리헨션
- pythonic한 코드
- 반복문을 산줄로 처리
- 결괏값은 리스트로 반환

In [67]:
# 진짜 자주 쓰는 코드이므로 외우기
a = [1, 2, 3, 4]
result = []
for num in a:
    print(num *3)
    result.append(num * 3) # 위의 코드 결괏값을 result 리스트에 넣기

result

3
6
9
12

[3, 6, 9, 12]

In [71]:
# 위의 코드를 한 줄로 정리
b = [1, 2, 3, 4]
result2 = [num * 3 for num in b]
result2

[3, 6, 9, 12]

In [74]:
num1 = [1, 2, 3, 4]
num2 = [10, 20, 30, 40]
result = []

for n1, n2 in zip(num1, num2):
    print(n1, n2, n1 * n2)
    result.append(n1 * n2)

result

1 10 10
2 20 40
3 30 90
4 40 160

[10, 40, 90, 160]

In [78]:
# 위의 코드 한 줄로 정리
num1 = [1, 2, 3, 4]
num2 = [10, 20, 30, 40]

result = [n1*n2 for n1, n2 in zip(num1, num2)]
result

[10, 40, 90, 160]

# 목차2 - 튜플(Tuple)
- 리스트와 비슷한 자료형
- 인덱싱, 슬라이싱 모두 가능

In [39]:
tuple_test = (10, 20, 30, 40, 50, 60)
tuple_test

(10, 20, 30, 40, 50, 60)

In [40]:
tuple_test[0]

10

In [41]:
tuple_test[0:4]

(10, 20, 30, 40)

In [43]:
tuple_test[-2]

50

In [44]:
list_a[0] = 100
list_a

[100, 103, 52, 32]

In [49]:
#튜플은 한번 생성되면 수정/삭제가 불가
del tuple_test[0]

TypeError: 'tuple' object doesn't support item deletion

# 목차3 - 딕셔너리
- Web 관련 자료형 중에서 JSON 형태와 유사
- pandas 데이터프레임을 만들 때도 매우 자주 사용
- 사전식 구성 연상
  + 키워드 입력 ==> 다양한 의미
  + Loves, 동사, 명사 등등등
- dict = {"key" : value}

In [62]:
dict_a = {
    "name" : "어벤져스 엔드게임",
    "type" : "히어로 무비",
    "director" : ['안소니 루소', '조 루소'],
    "year" : 2019
}

dict_a

{'name': '어벤져스 엔드게임',
 'type': '히어로 무비',
 'director': ['안소니 루소', '조 루소'],
 'year': 2019}

In [64]:
# 딕셔너리 ==> 리스트 ==> 문자열로 자료형이 변경
dict_a['director'][0][0:3]

'안소니'

In [67]:
a = dict_a['director']
a.append("a")
a

['안소니 루소', '조 루소', 'a']

In [70]:
dict_a['director'].append("a")
dict_a['director']

['안소니 루소', '조 루소', 'a', 'a', 'a', 'a']

In [71]:
dict_a['director']

['안소니 루소', '조 루소', 'a', 'a', 'a', 'a']

In [72]:
# key 설정 시, 무조건 ""를 사용한다.
dict_key = {
    name : "망고",
}

NameError: name 'name' is not defined

In [40]:
# key 설정 시, 무조건 ""를 사용한다.
dict_key = {
    "name" : "망고",
}

dict_key

{'name': '망고'}

In [41]:
# 새로운 키 추가하기
dict_key['새로운키'] = "새로운값"
dict_key['price'] = [1, 2, 3, 4, 5]
dict_key['새로운딕셔너리'] = {'a':1, 'b':[1, 2, 3]}
dict_key

{'name': '망고',
 '새로운키': '새로운값',
 'price': [1, 2, 3, 4, 5],
 '새로운딕셔너리': {'a': 1, 'b': [1, 2, 3]}}

In [78]:
dict_c = {
    "name" : '강아지',
    "age" : 10,
}
dict_c

{'name': '강아지', 'age': 10}

In [79]:
dict_c['tall'] = 100
dict_c

{'name': '강아지', 'age': 10, 'tall': 100}

In [80]:
del dict_c['tall']
dict_c

{'name': '강아지', 'age': 10}

In [89]:
print(dict_c.keys())
print(dict_c.values())
print(dict_c.items())

dict_keys(['name', 'age'])
dict_values(['강아지', 10])
dict_items([('name', '강아지'), ('age', 10)])

In [90]:
temp = list(dict_c.keys())
temp.append('name')
temp

['name', 'age', 'name']

In [93]:
# 에러1) 
# AttributeError: 'dict_values' object has no attribute 'append'
# dict_values는 리스트 형태가 아니고 딕셔너리 형태이므로, append 사용 불가
# dict_c.values().append('aaa')

# 해결1)
temp1 = list(dict_c.values())
temp1.append('사료')
temp1

['강아지', 10, '사료']

In [94]:
dict_c

{'name': '강아지', 'age': 10}

# 목차4 - 조건문
- 00 조건을 만족한다 ==> True
  + 그러면, 옷을 산다
- 00 조건을 만족하지 못함 ==> False
  + 그러면, 옷을 사지 않는다
- if-else

In [1]:
a = 1
if a > 1: # 해당되는 조건식을 만드는 것이 핵심
    print("1보다 큼")
else:
    print("1보다 작음")

1보다 작음

In [3]:
# p.163
if True:
    print("True 입니다!")

True 입니다!

In [4]:
if False:
    print("True 입니다!")

In [6]:
number = input("정수를 입력하세요")
number = int(number)

#양수 조건
if number > 0:
    print("양수")

#음수 조건
if number < 0:
    print("음수")

#0 조건
if number == 0:
    print("0이다")

정수를 입력하세요 -3

음수

[시나리오] 
- 여러분의 돈이 00원 있다
- 파이브가이즈 햄버거 세트 가격이 35000원 이라고 할 때,
- 햄버거를 먹을 수 있는 상황/그렇지 못한 상황에 대해서 프로그래밍 하시오.

In [10]:
money = int(input("당신이 지금 가지고 있는 돈은 얼마입니까?"))
PRICE = 35000

if (money >= PRICE):
    print("파이브가이즈 햄버거를 먹을 수 있습니다.")
else:
    print("파이즈가이즈 햄버거를 먹을 수 없습니다.")

당신이 지금 가지고 있는 돈은 얼마입니까? 35000

파이브가이즈 햄버거를 먹을 수 있습니다.

## 날짜/시간 활용하기
- datetime(파이썬 기본 라이브러리)
  + 공식문서 확인하기 필수!!
- pandas to_datetime : https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [11]:
import datetime

# 현재 날짜/시간 구하기
now = datetime.datetime.now()
now

datetime.datetime(2024, 6, 27, 14, 39, 40, 150197)

In [12]:
print(now.month, "월")

6 월

In [15]:
print(f'{now.year}년 {now.month}월 {now.day}일')

2024년 6월 27일

In [18]:
import datetime

# 현재 날짜와 시간 구하기
# 월 추출해서 현재 계절 확인

now = datetime.datetime.now()
month = now.month

print(type(month), month)

if 3 <= month <= 5:
    print("봄")
elif 6 <= month <= 8:
    print("여름")
elif 9 <= month <= 10:
    print("가을")
else:
    print("겨울")

<class 'int'> 6
여름

In [19]:
import datetime

# 현재 날짜와 시간 구하기
# 월 추출해서 현재 계절 확인

now = datetime.datetime.now()
month = 100

print(type(month), month)

if 3 <= month <= 5:
    print("봄")
elif 6 <= month <= 8:
    print("여름")
elif 9 <= month <= 10:
    print("가을")
else:
    print("겨울")

<class 'int'> 100
겨울

In [22]:
num = int(input("숫자를 입력하세요"))

if num > 0:
    # 코드를 디테일 하게 작성
    num2 = num
else:
    pass

print("완료")

숫자를 입력하세요 4

완료

In [24]:
# 코드가 제대로 끝마쳐지지 않았을 때 raise 예외 처리를 사용
num = int(input("숫자를 입력하세요"))

if num > 0:
    # 코드를 디테일 하게 작성
    raise NotImplementedError
else:
    raise NotImplementedError

print("완료")

숫자를 입력하세요 -1

NotImplementedError:

# 목차5 - for 반복문
- p.207
- 몇 번을 반복해야 하는지 사용자가 지정

In [33]:
for i in range(3) : # 처음에 범위 지정을 할 때, 3번 정도 확인 후 => 확장 
    print("출력")

출력
출력
출력

In [36]:
# 문자열도 반복문에서 사용 가능 p.209
text = "abc"

for element in text:
    print(element)

a
b
c

In [34]:
#p.209
array = [273, 32, 103, 57, 52]

for element in array:
    print(element)

273
32
103
57
52

In [37]:
# 튜플도 반복문에서 사용 가능 p.
text1 = ("a", "b", "c")

for element in text1:
    print(element)

a
b
c

## 문제
- 반복문을 쓰고 싶음. 근데 iterable 가능하다고 함.
- 문제 : 자료형이 iterable인지 아닌지 알고 싶음. 그래서 iterable이면 반복문 수행 하도록 if-조건문 만들기
  + chatGPT에게 함수 물어보기

In [44]:
from collections.abc import Sequence

def is_sequence(obj):
    return isinstance(obj, Sequence)

print(is_sequence([1,2,3]))
print(is_sequence((1,2,3)))
print(is_sequence('hello'))
print(is_sequence({1,2,3}))
print(is_sequence(123))

True
True
True
False
False

In [55]:
test = dict_key.values()
for element in test:
    print(element)

망고
새로운값
[1, 2, 3, 4, 5]
{'a': 1, 'b': [1, 2, 3]}

In [61]:
 if isinstance(dict_key, Sequence):
        # 이터러블인 경우 반복문 수행
        for item in dict_key:
            print(item)
 else:
        print(f"{dict_key}는 이터러블이 아닙니다.")

{'name': '망고', '새로운키': '새로운값', 'price': [1, 2, 3, 4, 5], '새로운딕셔너리': {'a': 1, 'b': [1, 2, 3]}}는 이터러블이 아닙니다.

In [47]:
# 이중 for문 = 중첩 for 문
list_of_list = [[1, 2, 3], [4, 5, 6, 7], [8, 9]]
list_of_list

for items in list_of_list:
    print(items)
    for item in items:
        print(item)

[1, 2, 3]
1
2
3
[4, 5, 6, 7]
4
5
6
7
[8, 9]
8
9

In [54]:
num1 = [2, 3, 4, 5, 6, 7, 8, 9]
num2 = [2, 3, 4, 5, 6, 7, 8, 9]

for i in num1:
    print(f'{i}단')
    for j in num2:
        result = i*j
        print(f'{j} * {i} = {result}')

2단
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
3단
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
4단
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
5단
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
6단
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
7단
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
8단
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
9단
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81

# 목차6 - while 반복문
- 조건식이 참이면 계속 수행함
- ex) 게임 (자동사냥)
  + 자동사냥 버튼 ==> True