# 목차1 - while 반복문
- 조건식이 참이면 계속 수행함
- ex) 게임 (자동사냥)
  + 자동사냥 버튼 ==> True
while 불 표현식 : ### 조건식, True가 조건식을 작성
    문장

## for 반복문처럼 사용

In [2]:
i = 0
while i < 10:
    print('{}번째 반복입니다.'.format(i))
    i += 1

print(i)

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.
10

## 상태를 기반으로 반복

In [5]:
list_test = [1, 2, 1, 2]
value = 2

value in list_test

True

In [6]:
list_test.remove(value)
list_test

[1, 1, 2]

In [7]:
list_test = [1, 2, 1, 2]
value = 2

while value in list_test:
    list_test.remove(value)

print(list_test)

[1, 1]

## 시간을 기반으로 반복하기

In [12]:
import time 

print(time.time())
target_tick = time.time() + 5
print(target_tick)

1719538116.6424727
1719538121.6424727

In [10]:
number = 0

# 5포 동안 반복
target_tick = time.time() + 5

while time.time() < target_tick:
    number += 1
number

30154547

## brak와 continue문

In [18]:
numbers = [5, 6, 7, 10, 15, 25]


for number in numbers:
    print(number)
    if number > 10:
        break

5
6
7
10
15

In [17]:
numbers = [5, 6, 7, 10, 15, 25]


for number in numbers:
    if number > 10:
        break
    print(number)

5
6
7
10

# 목차2 - 함수 만들기
- 공식 문서 볼 때 필 수 확인사항 2가지
  + 매개변수 입력 방법(or 자료형)
  + 반환값, 반환되는 자료형의 형태(int, str, array, list, DataFrame, etc)

In [19]:
text = "안녕하세요"
len(text)

5

- a 함수 ==> 리스트 ==> 문자열 변경
- b 함수 매개변수 문자열

## Docstring 작성하기

In [21]:
def add(a, b):
    """
    두 수의 합을 반환합니다.

    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.

    반환값:
    int, float: 두 숫자의 합.

    예제:
    >>> add(2, 3)
    5
    >>> add(5.5, 4.5)
    10.0
    """
    return a + b

In [23]:
# Docstring 출력하기
print(add.__doc__)

    두 수의 합을 반환합니다.

    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.

    반환값:
    int, float: 두 숫자의 합.

    예제:
    >>> add(2, 3)
    5
    >>> add(5.5, 4.5)
    10.0

In [26]:
# 사칙연산 함수 생성 및 Dcstring 작성하기

def add(a,b):
    """
    두 수의 합을 반환합니다. 

    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.

    반환값:
    int, float: 두 숫자의 합.
    
    """
    return a + b

def sub(a,b):
    """
    두 수의 차를 반환합니다. 

    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.

    반환값:
    int, float: 두 숫자의 차.
    """
    return a - b

def mul(a,b):
    """
    두 수의 곱을 반환합니다. 

    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.

    반환값:
    int, float: 두 숫자의 곱.
    """
    return a * b

def div(a,b):
    """
    두 수의 몫을 반환합니다. 

    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.

    반환값:
    int, float: 두 숫자의 몫.
    """
    return a/b

In [31]:
print(add.__doc__)
print(sub.__doc__)

    두 수의 합을 반환합니다.

    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.

    반환값:
    int, float: 두 숫자의 합.



    두 수의 차를 반환합니다.

    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.

    반환값:
    int, float: 두 숫자의 차.

## 에러 유형 확인

In [32]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [34]:
# print_n_times(value, n)함수에서 n 값을 넣지 않았을 때
#TypeError: print_n_times() missing 1 required positional argument: 'n'
#에러 발생

def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", )

TypeError: print_n_times() missing 1 required positional argument: 'n'

In [35]:
# print_n_times(value, n)함수에서 n 값을 초과해서 넣었을 때
#TypeError: print_n_times() takes 2 positional arguments but 3 were given
#에러 발생
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 2, 3)

TypeError: print_n_times() takes 2 positional arguments but 3 were given

## 가변 매개변수
- *를 매개변수에 추가

In [40]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

print_n_times(2, "a", "d, c, d", [1, 2, 3])

a
d, c, d
[1, 2, 3]

a
d, c, d
[1, 2, 3]

In [43]:
def add_many(*nums):
    result = 0
    for num in nums:
        result += num

    return result

add_many(1, 2, 3, 4)

10

## 키워드 매개변수 **kwargs
- 매개변수 앞에 ** 두 개 붙인 케이스
- **kwargs는 "키워드 인수"라는 의미로, 함수에 전달되는 여러 개의 이름 있는 인수들을 딕셔너리 형태로 묶어준다.
- 이를 통해 함수가 동적으로 다양한 인수를 처리할 수 있게 됩니다.

In [44]:
def print_kwargs(**kwargs):

    #이 메서드에는 return 값이 없음
    print(kwargs) # 어떻게 출력이 될까?

In [45]:
print_kwargs(a = 1)

{'a': 1}

In [48]:
print_kwargs(a = 2, b = [1, 2, 3])

{'a': 2, 'b': [1, 2, 3]}

In [50]:
def test1(a, b = 10, c = 100):

    # 값을 전달할 필요가 없고, 단순 확인용으로만 함수를 만들 때
    # print() 사용
    print(a + b+ c)

test1(a = 1)

111

In [52]:
def test2(a, b = 10, c = 100):

    # 값을 전달해야만 할 때는
    # return() 사용
    return a + b+ c

result = test2(1)
result

111

# 목차3 - 함수와 클래스
## 클래스를 왜 사용하는가?
- 함수, 반복문만 적절하게 사용해도 큰 문제가 안됨
- why?
  + 한줄로 요약 : 자동화 / 많은 사람들이 사용할 수 있도록 배포

In [53]:
result = 0

def add(num):
    global result #전역변수
    result += num # 결괏값에 입력값 num 더하기
    return result 

print(add(3))
print(add(4))

3
7

In [58]:
result1 = 0
result2 = 0
result3 = 0

def add1(num):
    global result1 #전역변수
    result1 += num # 결괏값에 입력값 num 더하기
    return result1 

def add2(num):
    global result2 #전역변수
    result2 += num # 결괏값에 입력값 num 더하기
    return result2 

print(add1(3)) # 첫번째 사람
print(add2(4)) # 두번째 사람

print(add1(4)) # 첫번째 사람
print(add2(4)) # 두번째 사람

3
4
7
8

## 클래스 만들기

In [61]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

    def sub(self, num):
        self.result -= num
        return self.result

#사용자1
cal1 = Calculator() #사용자1
cal2 = Calculator() #사용자2
cal3 = Calculator() #사용자3

print(cal1.add(3))
print(cal2.add(4))
print(cal3.add(5))

print(cal1.sub(3))
print(cal2.sub(3))
print(cal3.sub(3))

3
4
5
0
1
2

In [59]:
result1 = 0
result2 = 0
result3 = 0

def add1(num):
    global result1 #전역변수
    result1 += num # 결괏값에 입력값 num 더하기
    return result1 

def add2(num):
    global result2 #전역변수
    result2 += num # 결괏값에 입력값 num 더하기
    return result2 
def add3(num):
    global result3
    result3 += num
    return result3

print(add1(3))
print(add2(4))
print(add3(5))

3
4
5

In [62]:
class StudentGrade: #CamelCase로 이름 명명
    pass

인스턴스 이름(=변수 이름) = 클래스 이름() --> 생성자 함수

In [68]:
class Student:
    pass

# 학생을 선언합니다.
희교 = Student() ## 하나의 의미있는 객체
성민 = Student() ## 하나의 의미있는 객체

__init__ 이란?

- Python에서 클래스의 초기화 메서드를 정의하는 데 사용됩니다.
- 객체가 생성될 때 자동으로 호출되며, 클래스의 인스턴스 변수를 초기화하는 데 주로 사용됩니다.
- 이 메서드는 생성자(Constructor)라고도 불립니다.

__self__ 란?
- 클래스의 인스턴스 메서드에 사용되는 첫 번째 매개변수

In [98]:
class Student:
    #상태(state)
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
        

    #행동(behavior)
    def get_sum(self):
        return self.korean + self.math + self.english + self.science

    def get_average(self):
        return self.get_sum()/4

    def get_grade(self):
        average = self.get_average()
        
        if average >= 90:
            return "A"
        elif average >= 80:
            return "B"
        elif average >= 70:
            return "C"
        else:
            return "D"


    # __str__ : 객체의 문자열 표현을 정의하는 특별 메서드
    def __str__(self):
        return "{}\t{}\t{}\t".format(self.name, self.get_sum(), self.get_average())


students = [
    Student("윤인성", 87, 98, 88, 95),
    Student("Evan", 50, 20, 15, 95),
]

In [99]:
students[0].math # "윤인성" 학생의 수학 점수 -> 상태를 출력하는 것

98

In [100]:
students[0].get_sum()

368

In [101]:
students[1].get_sum()

180

In [102]:
students[0].get_grade()

'A'

In [103]:
for i in range(len(students)):
    print(students[i].get_grade(), students[i].get_sum(), students[i].get_average())

A 368 92.0
D 180 45.0

## Docsting 추가하기

In [104]:
class Student:
    """
    학생의 이름과 각 과목 점수를 저장하고 성적을 계산하는 클래스입니다.

    Attributes:
        name (str): 학생의 이름.
        korean (int, float): 국어 점수.
        math (int, float): 수학 점수.
        english (int, float): 영어 점수.
        science (int, float): 과학 점수.
    """
    def __init__(self, name, korean, math, english, science):
        """
        Student 클래스의 초기화 메서드.

        Args:
            name (str): 학생의 이름.
            korean (int, float): 국어 점수.
            math (int, float): 수학 점수.
            english (int, float): 영어 점수.
            science (int, float): 과학 점수.
        """
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

    def get_sum(self):
        """
        네 과목의 총합 점수를 계산합니다.

        Returns:
            int, float: 국어, 수학, 영어, 과학 점수의 총합.
        """
        return self.korean + self.math + self.english + self.science

    def get_average(self):
        """
        네 과목의 평균 점수를 계산합니다.

        Returns:
            float: 국어, 수학, 영어, 과학 점수의 평균.
        """
        return self.get_sum() / 4

    def get_grade(self):
        """
        평균 점수에 따른 성적을 반환합니다.

        Returns:
            str: 평균 점수에 따른 성적 ('A', 'B', 'C', 'D').

        Examples:
            >>> student = Student("윤인성", 87, 98, 88, 95)
            >>> student.get_grade()
            'A'
        """
        average = self.get_average()
        
        if average >= 90:
            return "A"
        elif average >= 80:
            return "B"
        elif average >= 70:
            return "C"
        else:
            return "D"

# 학생 목록 생성
students = [
    Student("윤인성", 87, 98, 88, 95),
    Student("Evan", 50, 20, 15, 95),
]

# 학생별 성적 출력
for student in students:
    print(f"학생 이름: {student.name}")
    print(f"총점: {student.get_sum()}")
    print(f"평균: {student.get_average()}")
    print(f"성적: {student.get_grade()}")
    print()

학생 이름: 윤인성
총점: 368
평균: 92.0
성적: A

학생 이름: Evan
총점: 180
평균: 45.0
성적: D

## 인스턴스 확인
- instance(인스턴스, 클래스)

In [105]:
class Student:
    def __init__(self):
        pass


student = Student()
isinstance(student, Student)

True

In [106]:
isinstance(student, Calculator)

False

In [107]:
# 상속 문법
class Human:
    def __init__ (self):
        pass


class Student:
    def __init__ (self):
        pass

## 상속 문법 확인
- p.497

In [110]:
class Parent:
    pass

class Child(Parent):
    def __init__ (self):
        super().__init__() # 부모 즉, Parent 클래스가 가지고 있는 모든 인스턴스 및 상태와 행동을 사용할 수 있음