# 목차1 - 식별자
- 식별자에 대해 배웁니다.

In [1]:
1+1

2

## 스네이크 케이스와 캐멀 케이스
- 각 프로그래밍 언어마다 양식이 존재함
- 클래스를 정의할 때, 앞문자가 대문자여야 함 -> CamelCase 방식
- 함수를 정의할 때 -> sanke_case 방식

# 목차2 - 식별자 구분하기

print() # 소문자
list() # 소문자
class Animal # 대문자
BeautifulSoup() # 대문자 / CamelCase

## 입력과 출력
- input() : 입력
- print() : 출력

In [6]:
var1 = input("말을 입력하세요")
print(var1)

말을 입력하세요 안녕하세요

안녕하세요

- 숫자를 출력할 때와 문자를 출력할 때가 다름

In [7]:
print("# 하나만 출력합니다")
print()
print(10, 20, 30, 40)

# 하나만 출력합니다

10 20 30 40

# 목차3 - 자료형과 문자열
- 숫자 : 물건의 가격
- 문자 : 메시지 내용
- 논리 : True or False

In [8]:
print(type("안녕하세요"))

# 출려된 값
# <class 'str'>
# 여기서 class 는 해당 결과 값에 대한 '설명문' 을 의미한다.

<class 'str'>

In [9]:
import pandas as pd
df = pd.DataFrame({
    'col1' : [1, 2, 3],
    'col2' : [1, 2, 3],
})

print(type(df))

# 출려된 값
# <class 'pandas.core.frame.DataFrame'>
# 여기서 class 는 해당 결과 값에 대한 '설명문' 을 의미한다.
# 출력된 결과 값이 무엇인지에 대한 설명을 하고 있으며, 구글링에서 공식 문서(documentation)를 참고하여 습득하는게 중요하다.
# 'pandas.core.frame.DataFrame'는 2차원, 크기 변경 가능, 잠재적으로 이질적인 표 형식 데이터로,
# 데이터 구조에는 레이블이 지정된 축(행 및 열)도 포함되어 있고 산술 연산은 행 및 열 레이블 모두에 맞춰 정렬된다.
# 또한, Series 객체에 대한 딕셔너리 같은 컨테이너로 생각할 수 있으며, 기본 pandas data 구조를 의미한다.

<class 'pandas.core.frame.DataFrame'>

C:\Users\user\AppData\Local\Temp\ipykernel_15612\2331799238.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### 문자열 만들기
- 큰 따옴표 방식 / 작은 따옴표 방식
- 결론 : 지금은 크게 구분하지 않음
- 주의 사항 : "", '' 을 쌍으로 매칭   '"은 절대 안됨

In [11]:
print("안녕하세요")

안녕하세요

교재 p.89 확인
- '' 안에 "" 사용하기
- "" 안에 '' 사용하기
- '', "" 모두 두 개의 쌍이 일치하게만 잘 써주면 ''과 "" 안에 중첩되게 사용해도 무관

In [12]:
print('"안녕하세요"라고 말했습니다.')

"안녕하세요"라고 말했습니다.

### 이스케이프 문자
- \n : 줄바꿈
- \t : 탭
- \\ : 역슬래시(\)를 의미

In [13]:
print("안녕하세요\n안녕하세요")

안녕하세요
안녕하세요

In [14]:
print("안녕하세요\t안녕하세요")

안녕하세요	안녕하세요

### 문자열 연산자(중요)
- 자주 사용함
- 사칙 연산 중에서 덧셈과 곱셈 사용 가능

In [15]:
print(2+2)
print(5-2)
print(6*3)
print(3/6)

4
3
18
0.5

In [16]:
print("안녕" + "하세요")

안녕하세요

In [31]:
var1 = "안녕"
var2 = "하세요"

result = var1 + var2
print(result)

안녕하세요

### 형변환
[문자(열)형으로 형변환]
- 보이는 그대로 문자(열)형(str)으로 변환.

[정수형으로 형변환]
- int의 형태를 가진 str은 int로 변환 가능.
- float은 int로 변환 가능. 단, 소수점 이하는 버림.
- 숫자가 아닌 문자열(str)은 정수형(int)으로 변환 불가.
- str의 경우 "11.00"처럼 float형태의 텍스트는 int로 변환 불가.
- bool의 형태는 int로 변환 가능.
- True 값은 숫자 1로 변환.
- False 값은 숫자 0으로 변환.

In [30]:
# 예제 1)
#num1 = 1
#var1 = "안녕"

#result = num1 + var1
#print(result)
#ValueError: invalid literal for int() with base 10: '안녕' 에러 발생

# 해결 1)
num1 = 1
var1 = "안녕"

#num1의 자료형이 int 형이므로 str()를 통해 str 형으로 변환해준다.
#str() : str(문자열) 형으로 자료형을 변환해줌.
result = str(num1) + var1 

print(result)

1안녕

In [25]:
num2 = 1
result = num1 + num2 
print(result)

2

In [18]:
var1 = "안녕"
var2 = "하세요"

result = var1*3
print(result)

안녕안녕안녕

### 문자 선택 연산자(인덱싱): []
- 리스트, 튜플 등과 같이 원리가 동일
- 자주 쓰이는 문법(중요!!!)

In [34]:
var1 = "안녕하세요"
# python은 맨 앞 인덱스가 0번
print(var1[0])
print(var1[3])

안
세

In [33]:
var1 = "안녕하세요"
# 뒤에서부터 출력
print(var1[-1])
print(var1[-2])

요
세

In [36]:
# 문자열의 공백도 인덱스로 
var1 = "Hello Python!!!"
print(var1[6])

P

### 문자열 범위 선택(슬라이싱) [:]
- 리스트, 튜플 등 자료형과 원리 동일

In [37]:
var1 = "Hello Python!!!"
#[n:n-1]까지 인덱스를 슬라이싱해서 출력
print(var1[0:4])

Hell

In [38]:
len(var1)

15

In [40]:
#인덱스를 2칸식 슬라이싱
var1 = "abababababababab"
print(var1[0::2])

aaaaaaaa

In [41]:
#인덱스를 2칸식 슬라이싱
var1 = "abababababababab"
print(var1[1::2])

bbbbbbbb

# 목차4 - 자료형과 숫자

### 지수 표현

In [43]:
# 10의 2제곱을 표현 -> 10^2
0.522273e2

52.2273

In [44]:
# 10의 -1제곱을 표현 -> 10^-1

0.522273e-1

0.0522273

### 사칙연산

In [46]:
6/3

2.0

In [47]:
6+3

9

In [48]:
2.0 + 3

5.0

In [49]:
# 나누기 연산자 : //
3 // 2

1

In [51]:
# 나머지 연산자 : %
5 % 3

2

In [52]:
# 제곱 연산자 : **
2 ** 2

4

In [53]:
3 ** 2

9

In [54]:
number = 100
number = number + 10
print(number)

110

In [55]:
number = 100
number += 10 # number = number + 10 의미와 동일 
print(number)

110

In [57]:
sample_text = "안녕"
sample_text = sample_text + "i"
print(sample_text)

안녕i

In [58]:
sample_text = "안녕"
sample_text += "i"
print(sample_text)

안녕i

### input()

In [63]:
num1 = input("숫자를 입력하세요!")
num2 = input("숫자를 입력하세요!")

result = int(num1) + int(num2) 
print(result)

숫자를 입력하세요! 4
숫자를 입력하세요! 5

9

In [64]:
num1 = input("숫자를 입력하세요!")
num2 = int(input("숫자를 입력하세요!"))

print(type(num1), type(num2))

result = int(num1) + num2 
print(result)

숫자를 입력하세요! 5
숫자를 입력하세요! 3

<class 'str'> <class 'int'>
8

In [65]:
num1 = "52"
num2 = "52.273"

print(int(num1))
print(float(num2))

52
52.273

In [69]:
print(float(num1))

52.0

[ValueError: invalid literal for int() with base 10: '52.273'] 에러 발생

- "52.273"처럼 소숫점이 있는 문자열은 바로 정수 변환이 안됨(주의)

  -> 문자열 ==> 실수형 ==> 정수형

In [71]:
# ValueError: invalid literal for int() with base 10: '52.273' 에러 발생
# "52.273"처럼 소숫점이 있는 문자열은 바로 ㅈ어수 변환이 안됨(주의)
# 문자열 ==> 실수형 ==> 정수형
# print(int(num2))

print(int(float(num2)))

52

# 목차5 - 문자열 포매팅
- `f'문자열{표현식}문자열'`

In [73]:
# {} format() 함수 방식
num1 = 10 
"{}".format(num1)

'10'

In [75]:
# f-문자열 방식
num1 = 10
f'{num1}'

'10'

### f 문자열 포매팅
- 파이썬 3.6 버전부터는 f 문자열 포매팅 기능을 사용할 수 있다. 파이썬 3.6 미만 버전에서는 사용할 수 없는 기능이므로 주의해야 한다.

- 문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

- 또한 f 문자열 포매팅은 표현식을 지원한다.

In [79]:
name = '호랑이'
age = '23'

print(f'안녕하세요 저는 {name}입니다. 저의 나이는 {age}살 입니다.')

안녕하세요 저는 호랑이입니다. 저의 나이는 23살 입니다.

### 문자열 내장 메서드

In [80]:
print("안녕" in "안녕하세요")

True

In [86]:
print("안녕허" in "안녕하세요")

False

In [82]:
a = "10 20 30 40 50".split(" ") # str.split() : str은 문자열 클래스, split은 자료형으로 떨어지는 명령
                                # sep는 생략한 버전
a

['10', '20', '30', '40', '50']

In [85]:
a = "10 20 30 40 50".split(sep=" ") # str.split() : str은 문자열 클래스, split은 자료형으로 떨어지는 명령
a

['10', '20', '30', '40', '50']

In [88]:
filename = "sample.file.txt,py.test"
parts = filename.split('.')
print(parts)

['sample', 'file', 'txt,py', 'test']

# 목차6 - 리스트와 튜플

In [93]:
a = list()
b = []
c = [1, 2, 3]
d = ["a", "b", "c"]
e = [1, 2, "a", None, True]
f = [1, 2, 3, [1, 2, "Hello, Python!!!", None, True]] # Nested List, 중첩 리스트

In [94]:
print(a, b, c, d, e, f)
print(f)

[] [] [1, 2, 3] ['a', 'b', 'c'] [1, 2, 'a', None, True] [1, 2, 3, [1, 2, 'Hello, Python!!!', None, True]]
[1, 2, 3, [1, 2, 'Hello, Python!!!', None, True]]

In [97]:
print(f[3])

[1, 2, 'Hello, Python!!!', None, True]

In [98]:
f_a = f[3]
f_a[2]

'Hello, Python!!!'

In [100]:
f_a = f[3]
text = f_a[2]
text[7:13]

'Python'

In [104]:
# 중간에 있는 파이썬 뽑기
g = [1, 2, 3, 4, 5, 6, [1, 2, "Hi,,,, !! Python !!! Hello, ", None, True]]
result = g[6][2][10:16]
print(result)

Python

In [103]:
g_b = g[6]
text1 = g_b[2]
text1[10:16]

'Python'