# 데이터분석 기초

In [43]:
import pandas as pd
import seaborn as sns

print(pd.__version__)
print(sns.__version__)

2.2.0
0.13.2

In [7]:
iris = sns.load_dataset("iris")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
iris = sns.load_dataset("iris")
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [11]:
iris.shape

(150, 5)

In [13]:
# 데이터에 관한 기본 정보
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
# 데이터에 관한 기술 통계
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [15]:
iris.value_counts()

sepal_length  sepal_width  petal_length  petal_width  species
5.8           2.7          5.1           1.9          virginica     2
6.2           2.2          4.5           1.5          versicolor    1
              2.9          4.3           1.3          versicolor    1
              3.4          5.4           2.3          virginica     1
6.3           2.3          4.4           1.3          versicolor    1
                                                                   ..
5.4           3.9          1.3           0.4          setosa        1
                           1.7           0.4          setosa        1
5.5           2.3          4.0           1.3          versicolor    1
              2.4          3.7           1.0          versicolor    1
7.9           3.8          6.4           2.0          virginica     1
Name: count, Length: 149, dtype: int64

In [16]:
# sepal_length칼럼이 가지고 있는 데이터 값(value)과 개수 출력  
iris['sepal_length'].value_counts()

sepal_length
5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: count, dtype: int64

In [17]:
# species 컬럼이 가지고 있는 데이터와, 그 데이터의 수 출력
iris['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [21]:
# species 칼럼의 데이터 타입을 출력
type(iris['species'].value_counts())

pandas.core.series.Series

- Series 데이터 타입
https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [22]:
iris['species'].value_counts().dtype

dtype('int64')

In [23]:
# index :데이터프레임의 각 행을 고유하게 식별할 수 있음
# 열(컬럼)에 해당하는 데이터 값의 종류를 index 라고 생각하면 됨 
iris['species'].value_counts().index

Index(['setosa', 'versicolor', 'virginica'], dtype='object', name='species')

In [24]:
iris['species'].value_counts().array

<NumpyExtensionArray>
[50, 50, 50]
Length: 3, dtype: int64

In [26]:
iris['species'].value_counts().size

3

In [28]:
# drop(): 제거
df = iris.drop("species", axis=1)
df.head(1)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2

In [29]:
iris.shape, df.shape

((150, 5), (150, 4))

In [33]:
# axis=1: 열을 기준으로 삭제한다는 의미.
df2 = iris.drop(['sepal_length', 'sepal_width'], axis=1)
df2.head(1)

   petal_length  petal_width species
0           1.4          0.2  setosa

In [35]:
iris.shape, df.shape, df2.shape

((150, 5), (150, 4), (150, 3))

In [40]:
# 오류 발생 
# KeyError: "['sepal_length', 'sepal_width'] not found in axis"
# asix = 0: 행을 기준으로
# iris.drop(['sepal_length', 'sepal_width'], axis=0)

df3 = iris.drop([0, 1, 2], axis=0)
df3.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
3           4.6          3.1           1.5          0.2  setosa

In [41]:
df3 = iris.drop([0, 1, 2], axis=0).reset_index(drop=True)
df3.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           4.6          3.1           1.5          0.2  setosa

In [42]:
iris.shape, df.shape, df2.shape, df3.shape

((150, 5), (150, 4), (150, 3), (147, 5))

## 파일 입출력
- 파일 내보내기
- 파일 불러오기

### 파일 내보내기

In [48]:
# index 번호 있음
iris.to_csv("iris.csv")

In [49]:
# index 번호 없음
iris.to_csv("iris2.csv", index=False)

In [52]:
iris.to_csv("test_data/iris.csv", index=False)

In [53]:
iris.to_csv("test_data/iris2.csv", index=False)

### 파일 불러오기

In [55]:
iris_df = pd.read_csv("./test_data/iris2.csv")
iris_df.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [62]:
DATA_PATH = './kaggle/'

train = pd.read_csv(DATA_PATH + 'train.csv')
train.head(1)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0

In [60]:
DATA_PATH = './kaggle/'
test = pd.read_csv(DATA_PATH + 'test.csv')
test.head(1)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,11504798,Female,20,1,47.0,0,< 1 Year,No,2630.0,160.0,228

### iloc VS loc 차이
- 강사 왈 : 일단은 loc만 기억하기
- 이유 : 직관적임

In [63]:
# iris.loc[행, 열]
iris.loc[:, ['sepal_length', 'species']]

     sepal_length    species
0             5.1     setosa
1             4.9     setosa
2             4.7     setosa
3             4.6     setosa
4             5.0     setosa
..            ...        ...
145           6.7  virginica
146           6.3  virginica
147           6.5  virginica
148           6.2  virginica
149           5.9  virginica

[150 rows x 2 columns]

In [64]:
# cols 변수에 해당 컬럼을 입력해서 정리해주기
cols = ['sepal_length', 'species']
iris.loc[:, cols].head(1)

   sepal_length species
0           5.1  setosa

In [65]:
cols = ['sepal_length', 'species']
iris.loc[iris['sepal_length'] > 7.5, cols]

     sepal_length    species
105           7.6  virginica
117           7.7  virginica
118           7.7  virginica
122           7.7  virginica
131           7.9  virginica
135           7.7  virginica

In [68]:
cols2 = ['petal_width']
iris.loc[iris['petal_width'] == 1.5, cols2]

     petal_width
51           1.5
52           1.5
54           1.5
61           1.5
66           1.5
68           1.5
72           1.5
78           1.5
84           1.5
86           1.5
119          1.5
133          1.5

In [72]:
cols3 = ['petal_length', 'petal_width']
iris.loc[iris['petal_width'] >= 2.0, cols3]

     petal_length  petal_width
100           6.0          2.5
102           5.9          2.1
104           5.8          2.2
105           6.6          2.1
109           6.1          2.5
110           5.1          2.0
112           5.5          2.1
113           5.0          2.0
114           5.1          2.4
115           5.3          2.3
117           6.7          2.2
118           6.9          2.3
120           5.7          2.3
121           4.9          2.0
122           6.7          2.0
124           5.7          2.1
128           5.6          2.1
131           6.4          2.0
132           5.6          2.2
135           6.1          2.3
136           5.6          2.4
139           5.4          2.1
140           5.6          2.4
141           5.1          2.3
143           5.9          2.3
144           5.7          2.5
145           5.2          2.3
147           5.2          2.0
148           5.4          2.3

### 문제 1. 
- petal_length가 1.7 이상 인 값을 조회하고, 필드명은 sepal_width, petal_length만 추출하세요

In [75]:
cols4 = ['sepal_width', 'petal_length']
iris.loc[iris['petal_length'] >= 1.7, cols4]

     sepal_width  petal_length
5            3.9           1.7
18           3.8           1.7
20           3.4           1.7
23           3.3           1.7
24           3.4           1.9
..           ...           ...
145          3.0           5.2
146          2.5           5.0
147          3.0           5.2
148          3.4           5.4
149          3.0           5.1

[106 rows x 2 columns]

### 다중조건
- AND 연산자 : 교집합, &
- OR 연산자 : 합집합, |

In [80]:
result1 = iris.loc[iris['species'] == 'setosa']
result2 = result1.loc[iris['sepal_length'] <= 5.1]
result2.shape

(36, 5)

In [81]:
cols = ['sepal_width', 'petal_length']
result = iris.loc[(iris['species'] == 'setosa') & 
                (iris['sepal_length'] <= 5.1), cols].reset_index(drop=True)
result.shape

(36, 2)

In [82]:
train.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0

### 테스트1. 
- Gender 가 Male인 것만 조회하고, 전체 행의 갯수는?

In [97]:
# 나의 답 
result = train.loc[train['Gender'] == 'Male']
result.shape

(6228134, 12)

In [98]:
# train.loc[행, 열]
# 어떤 데이터를 사용하든, 시작 코드라고 생각하면 됨.
train.loc[:, :].head(1)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0

In [100]:
result1 = train.loc[train['Gender']=='Male', :].shape
result1

(6228134, 12)

In [101]:
type(result1)

tuple

In [102]:
test = (6228134, 12)
test[0]

6228134

In [103]:
# 데이터프레임 -> Tuple -> int
train.loc[train['Gender']=='Male', :].shape[0]

6228134

### 테스트2. 
- Vehicle_Age 가 1-2 Year과 < 1 Year 인 것만 추출
- isin() 연산자 활용

In [104]:
train['Vehicle_Age'].value_counts()

Vehicle_Age
1-2 Year     5982678
< 1 Year     5044145
> 2 Years     477975
Name: count, dtype: int64

In [113]:
# 내 답
result2 = train.loc[train['Vehicle_Age'].isin(['1-2 Year', '< 1 Year'])]
result2.shape

(11026823, 12)

In [114]:
# 강사님 답 
Vehicle_Age_Values = ['1-2 Year', '< 1 Year']
train.loc[train['Vehicle_Age'].isin(Vehicle_Age_Values), :].shape

(11026823, 12)