## pandas_apply_lambda

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [23, 35, 45, 28, 34],
    'Salary': [70000, 80000, 120000, 90000, 110000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   23   70000
1      Bob   35   80000
2  Charlie   45  120000
3    David   28   90000
4      Eva   34  110000

## 문제 1. 
- 각 연봉을 10%씩 증가

In [6]:
df['Salary'] = df['Salary'].apply(lambda x: x * 1.1)
print(df)

      Name  Age    Salary
0    Alice   23   93170.0
1      Bob   35  106480.0
2  Charlie   45  159720.0
3    David   28  119790.0
4      Eva   34  146410.0

## 문제 2. 
- 사람들을 나이 기준으로 범주화

In [8]:
df['Age Group'] = df['Age'].apply(lambda x: 'Young' if x < 30 else 'Old')
print(df)

      Name  Age    Salary Age Group
0    Alice   23   93170.0     Young
1      Bob   35  106480.0       Old
2  Charlie   45  159720.0       Old
3    David   28  119790.0     Young
4      Eva   34  146410.0       Old

## 문제 3. 
- Age와 Salary의 곱을 계산하여 Age_Salary로 계산

In [9]:
df['Age_Salary'] = df.apply(lambda row: row['Age'] * row['Salary'], axis=1)
print(df)

      Name  Age    Salary Age Group  Age_Salary
0    Alice   23   93170.0     Young   2142910.0
1      Bob   35  106480.0       Old   3726800.0
2  Charlie   45  159720.0       Old   7187400.0
3    David   28  119790.0     Young   3354120.0
4      Eva   34  146410.0       Old   4977940.0

## 문제 4. 
- 각 이름의 첫 글자를 추출

In [10]:
df['Initial'] = df['Name'].apply(lambda x: x[0])
print(df)

      Name  Age    Salary Age Group  Age_Salary Initial
0    Alice   23   93170.0     Young   2142910.0       A
1      Bob   35  106480.0       Old   3726800.0       B
2  Charlie   45  159720.0       Old   7187400.0       C
3    David   28  119790.0     Young   3354120.0       D
4      Eva   34  146410.0       Old   4977940.0       E

## 문제 5. 
- 함수를 정의하고 apply와 함께 사용

In [12]:
def categorize_salary(salary):
    if salary > 100000:
        return 'High'
    else:
        return 'Low'

df['Salary Category'] = df['Salary'].apply(lambda x: categorize_salary(x))
print(df)

      Name  Age    Salary Age Group  Age_Salary Initial Salary Category
0    Alice   23   93170.0     Young   2142910.0       A             Low
1      Bob   35  106480.0       Old   3726800.0       B            High
2  Charlie   45  159720.0       Old   7187400.0       C            High
3    David   28  119790.0     Young   3354120.0       D            High
4      Eva   34  146410.0       Old   4977940.0       E            High

## 문제 6. 
- 나이가 30이상이면 연봉에 보너스 추가 보너스 비율 0.5%

In [18]:
df['Bonus Salary'] = df.apply(lambda row: row['Salary'] * 0.5 if row['Age'] > 30 else row['Salary'], axis=1)
print(df)

      Name  Age    Salary Age Group  Age_Salary Initial Salary Category  \
0    Alice   23   93170.0     Young   2142910.0       A             Low
1      Bob   35  106480.0       Old   3726800.0       B            High
2  Charlie   45  159720.0       Old   7187400.0       C            High
3    David   28  119790.0     Young   3354120.0       D            High
4      Eva   34  146410.0       Old   4977940.0       E            High

   Bonus Salary  Average_Age_Salary
0       93170.0            139755.0
1       53240.0            133100.0
2       79860.0            199650.0
3      119790.0            179685.0
4       73205.0            183012.5

## 문제 7. 
- Salary + Bonus Salary의 평균을 계산.

In [19]:
df['Average_Age_Salary'] = df.apply(lambda row: (row['Salary'] + row['Bonus Salary'] / 2), axis=1)
print(df)

      Name  Age    Salary Age Group  Age_Salary Initial Salary Category  \
0    Alice   23   93170.0     Young   2142910.0       A             Low
1      Bob   35  106480.0       Old   3726800.0       B            High
2  Charlie   45  159720.0       Old   7187400.0       C            High
3    David   28  119790.0     Young   3354120.0       D            High
4      Eva   34  146410.0       Old   4977940.0       E            High

   Bonus Salary  Average_Age_Salary
0       93170.0            139755.0
1       53240.0            133100.0
2       79860.0            199650.0
3      119790.0            179685.0
4       73205.0            183012.5